* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #4297df, white);
    grid-area: head;
}

#picture__logo {
    height: 6rem;
    width: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0px repeat(2, 1fr) 0px;
    grid-template-areas: 
    " head head"
    " imgs text"
    " imgs . "
    " foot foot";
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.grid ul li a {
    list-style: none;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px
}

.menu__item:hover .submenu {
    display: block;
    background-color: #4297df
}

.menu__link {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding: 0.7rem;
}

.menu__link--modifier {
    font-weight: bold;
    text-decoration: underline;
}

.submenu {
    list-style: none;
    display: none;
    position: absolute;
    margin-left: 10px;
}

.submenu__link {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding: 0.7rem;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    grid-area: imgs;
    background-color: azure;
}

.div__imgs {
    height: 200px;
    width: auto;
    margin: 10px;
    transition: height 2s;
}

.div__imgs:hover {
    height: 230px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: text;
    background-color: bisque;
}

#titulo {
    margin: 0.5rem;
}

#presentation {
    margin: 1rem;
    font-size: 1.4em;
    height: 200px;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    grid-area: foot;
    background-image: linear-gradient(to top, #4297df, white);
}

.footer__link {
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}

.terminos__listado{
    font-size: 20px;
    margin-left: 40px;
    display: block
}
.form{
    font-size: 15px;
    border-width: 15px;
    border: #000000;
    border-style: dashed;
}
.form__input{
    margin: 15px;
    display: block
}

.form__input--margin--left {
    margin-left: 15px;
}

.form__label--margin--left {
    margin-left: 15px;
}