* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #4297df, white);
    grid-area: head;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.navbar {
    background-color: transparent;
}

.navbar-expand-lg {
    background-color: transparent; 
}

.bg-light {
    background-color: transparent;
}

.container-fluid {
    background-color: transparent;
}

#picture__logo {
    height: 6rem;
    width: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0px repeat(2, 1fr) 0px;
    grid-template-areas: 
    " head head"
    " imgs text"
    " imgs . "
    " foot foot";
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.grid ul li a {
    list-style: none;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px
}

.menu__item:hover .submenu {
    display: block;
    z-index: 1;
    background-image: linear-gradient(to bottom, #4297df, white);
}

.menu__link {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding: 0.7rem;
}

.submenu {
    list-style: none;
    display: none;
    position: absolute;
}

.submenu__link {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    /* padding: 0.9rem; */
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    grid-area: imgs;
    background-image: radial-gradient(rgb(215, 255, 255), white)
}

.div__imgs {
    height: 200px;
    width: auto;
    margin: 10px;
    transition: height 2s;
}

.div__imgs:hover {
    height: 230px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: text;
    background-image: radial-gradient(bisque, white);
}

#titulo {
    margin: 0.5rem;
}

#presentation {
    margin: 1rem;
    font-size: 1.4em;
    height: 200px;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    grid-area: foot;
    background-image: linear-gradient(to top, #4297df, white);
}

.footer__link {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

.menu__link--modifier {
    font-weight: bold;
    text-decoration: underline;
}

.terminos__listado{
    font-size: 20px;
    display: block
}
.form{
    font-size: 15px;
    border-width: 15px;
    border: #000000;
}
.form__input{
    margin: 15px;
    display: block
}

.form__input--margin--left {
    margin-left: 15px;
}

.form__label--margin--left {
    margin-left: 15px;
}

.main-modifier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width {
    width: 1000px;
    height: 600px;
}

.presentation-modifier {
    font-weight: bold;
}

.card-title {
    font-size: 2.5em;
}

.card-text {
    font-size: 1.5em;
}